<nav class="breadcrumbs">
  <a href="{{ "/" | relLangURL }}">Docs</a>

  {{ $sections := slice }}
  {{ $currentSection := .CurrentSection }}

  {{ with $currentSection }}
  {{ $current := . }}
  {{ $continueLoop := true }}
  {{- range seq 1 20 }}
  {{ if $continueLoop }}
  {{ $sections = $sections | append $current }}
  {{ if not $current.Parent }}
  {{ $continueLoop = false }}
  {{ else }}
  {{ $current = $current.Parent }}
  {{ end }}
  {{ end }}
  {{ end }}
  {{ end }}

  {{ $len := len $sections }}
  {{ if gt $len 0 }}
  {{ range $i := seq (sub $len 1) -1 0 }}
  {{ $sec := index $sections $i }}
  {{ if $sec.Title }}
  <img src="{{ "images/chevron-right.svg" | relURL }}" class="breadcrumb-separator" alt=">">
  <a href="{{ $sec.Permalink }}">{{ $sec.Title }}</a>
  {{ end }}
  {{ end }}
  {{ end }}

  {{ if and (not .IsHome) (ne .Title .CurrentSection.Title) }}
  {{ if .Title }}
  <img src="{{ "images/chevron-right.svg" | relURL }}" class="breadcrumb-separator" alt=">">
  <span>{{ .Title }}</span>
  {{ end }}
  {{ end }}
</nav>
