<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }}</title>
{{ partial "favicon.html" . }}

<link rel="stylesheet" href="{{ "css/theme-repsy.css" | relURL }}">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<!-- Highlight.js Github Dark Theme -->
<link rel="stylesheet" href="{{ "css/github-dark.min.css" | relURL }}">

<script src="{{ "js/highlight.min.js" | relURL }}"></script>

<!-- Line Numbers Plugin JS -->
<script src="{{ "js/highlightjs-line-numbers.min.js" | relURL }}"></script>
