<header class="repsy-header">
  <div class="header-inner">
    <a href="/" class="logo">
      <img src="{{ "images/logo.svg" | relURL }}" alt="Repsy logo" />
      <span class="docs-text">DOCS</span>
    </a>
    <nav class="header-nav">
      <a href="/">Home</a>
      <a href="https://blog.repsy.io/" target="_blank" rel="noopener noreferrer">Blog</a>
      <a href="https://repsy.io/contact" target="_blank" rel="noopener noreferrer">Contact</a>
      <a href="https://github.com/repsyio" target="_blank" rel="noopener">
        <img src="{{ "images/github.svg" | relURL }}" alt="GitHub" />
      </a>
    </nav>
  </div>
</header>
<hr class="gradient-divider">
