<!-- Sidebar -->
<aside id="sidebar" class="sidebar">
  <div style="display: flex">
    <a href="/" class="logo">
      <img src="{{ "images/logo.svg" | relURL }}" alt="Repsy logo" />
      <span class="docs-text">DOCS</span>
    </a>
    <button class="sidebar-close-btn"  onclick="toggleSidebar()" aria-label="Toggle Sidebar">
      <img src="{{ "images/close.svg" | relURL }}" alt="Repsy logo" />
    </button>
  </div>
  <div class="sidebar-searchbox">
    {{ $icon := "images/search.svg" | relURL }}
    <img src="{{ $icon }}" alt="Search icon" class="search-icon" />
    <input
      data-search-input
      id="search-by"
      type="search"
      placeholder="Search Docs..."
    />
  </div>

  <nav class="sidebar-nav">
    {{ $current := .RelPermalink }}
    {{ range sort site.Sections "Weight" }}
    <details class="sidebar-group" {{ if or (eq $current .RelPermalink) (in $current .RelPermalink) }}open{{ end }}>
      <summary class="sidebar-toggle">
        <strong>{{ .Title }}</strong>
        <img src="{{ "images/chevron-down.svg" | relURL }}" alt="" class="chevron-icon" />
      </summary>
      <ul class="sidebar-subpages">
        {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}" class="{{ if eq .RelPermalink $current }}active{{ end }}">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </details>
    {{ end }}
  </nav>
</aside>

<script>
  function toggleSidebar() {
    const sidebar = document.getElementById('sidebar');
    sidebar.classList.toggle('open');
  }
</script>
